<h1>Foo#index</h1>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<p>Find me in app/views/foo/index.html.erb</p>
<%= link_to "Bar", bar_index_path %>
